body {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

header {
  justify-self: center;
}

.btn {
  font-size: 24px;
  border-radius: 6px;
  justify-self: start;
  background-color: cadetblue;

  width: 8rem;
  height: 3rem;
}

.books-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
